.next-project
  display: flex
  justify-content: space-between
  width: 100%
  gap: 50px
  padding-top: 50px
  padding-bottom: 106px
  @media screen and ( max-width: $media-width-xs )
    padding-top: 10px
    padding-bottom: 76px
  @media screen and ( max-width: $media-width-xsss )
    flex-wrap: wrap
    
  &__prev
    display: flex
    flex-direction: column
    align-items: flex-start
    padding-right: 40px
    text-align: start
    .next-project__arrow
      right: -40px
  &__next
    display: flex
    flex-direction: column
    align-items: flex-end
    padding-left: 40px
    text-align: end
    @media screen and ( max-width: $media-width-xsss )
      margin-left: auto
    .next-project
      &__arrow
        left: -40px
        transform: rotate(180deg)
  &__link
    position: relative
    color: $textDark
    opacity: 0.4
    text-decoration: none
    transition: .4s ease
    &:hover
      color: $mainColor
      opacity: 1
      .next-project
        &__arrow
          opacity: 1
  &__arrow
    position: absolute
    top: -75px
    display: block
    width: 215px
    height: 215px
    opacity: 0
    transition: opacity .4s ease
    @media screen and ( max-width: $media-width-xsss )
      display: none
    #{$isMobile}
      display: none
  &__desc
    font-size: 24px
    font-weight: 900
    margin-bottom: 15px
    @media screen and ( max-width: $media-width-xs )
      margin-bottom: 10px
      font-size: 18px
    @media screen and ( max-width: $media-width-xsss )
      font-size: 18px
  &__name
    max-height: 40px
    line-height: 1.86
    overflow: hidden