.project-detail
  color: $mainLight
  &__inside
    position: relative
    padding-top: 100px
    padding-bottom: 92px
  &__title
    margin-bottom: 38px
  &__img
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    display: flex
    justify-content: flex-end
    align-items: flex-end
    img
      display: block
      width: 30%
.detail-content
  max-width: 940px
  padding: 80px
  margin: 0 auto
  &__text
    font-size: 18px
    color: $textDark
    font-weight: 700
    line-height: 2
  .tags
    margin-top: 32px

