.call-button
	position: relative
	display: inline-flex
	align-self: center
	align-items: center
	justify-content: center
	padding: 13px 30px
	color: $mainColor
	font-family: 'CeraPro', sans-serif
	font-weight: 700
	font-size: 14px
	border-radius: 4px
	overflow: hidden
	text-decoration: none
	transition-property: color, border-color
	transition-duration: .4s
	transition-timing-function: ease
	background: none
	&:not(:disabled)
		border: 1px solid $mainColor
		cursor: pointer
	span
		position: relative
	&.call-button--filled
		border: none
		color: $textLight
		background-color: $mainColor
	&:disabled
		background-color: $error
		border: none
		opacity: 0.4
	&:not(:disabled)::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		display: block
		background: linear-gradient(to bottom, $mainColor, $mainColorLight)
		border-radius: 4px
		opacity: 0
		transition-property: opacity
		transition-duration: .4s
		transition-timing-function: ease
		pointer-events: none
	&.button-light
		border-color: $mainLight
		color: $mainLight
	&:hover
		color: $textLight
		border-color: transparent
		&::before
			opacity: 1
