@import ../vars
@import ../components/menu
@import ../components/call-button

.header-wrapper
	position: fixed
	z-index: 100
	top: 0
	right: 0
	left: 0
	padding-block: 40px 30px
	#{$isMobile}
		padding-block: 22px
		background: $mainDark
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)
	// #{$isMenu}
	// 	bottom: 0

	&.theme-dark
		.header-nav__item
			color: $mainLight
		.header-logo .theme-fill
			fill: $mainLight
	&.theme-light
		.header-nav__item
			color: $textDark
		.header-logo .theme-fill
			fill: $textDark
	&.theme-dark,
	&.theme-light
		.header-nav__item:hover
			color: $mainColor
.header
	display: flex
	align-items: center
	&__nav
		margin-left: auto
		#{$isMobile}
			display: none
	&__call
		margin-left: 46px
		#{$isMobile}
			display: none
	&__mobile
		display: grid
		grid-auto-flow: column
		gap: 24px
		margin-left: auto
		.desktop-app &
			display: none

.header-logo
	display: block
	.theme-fill
		transition: fill .2s ease
.header-nav
	display: grid
	grid-auto-flow: column
	column-gap: 46px
	&__item
		color: $mainLight
		text-decoration: none
		transition: color .2s ease
		&.active.active,
		&:active,
		&:hover
			color: $mainColor

.menu-icon
	&__opened
		display: none
		#{$isMenu}
			display: block
	&__closed
		#{$isMenu}
			display: none
