include ~@components/detailPage/detail-slider
include ~@components/detailPage/visual-editor

mixin project-content(props)
  section.project-content
    each content in props.detailContent
      - 
        var contentType = content.content
        var quote = content.quote
      case content.type 
        when 'text'
          +visual-editor({text: contentType, quote, fileName: props.fileName, className: ['container-short']})
        when 'slider'
          +detail-slider({slides: contentType, fileName: props.fileName})