//- require mixins block
include ~@components/main-title
include ~@components/tags
include ~@components/detailPage/visual-editor

mixin service-detail(props)
	- 
		var sectionTitle = props.name
		var subtitle = props.preview_text
		var detailText = props.detail_text
		var previewPicture = props.detail_picture?.replace(/#((service)|(tag))#/g, `/upload/images/$1s/${props.fileName}`)
	section(class=['detail-preview', 'header-offset', 'with-bg'])
		.detail-preview__background 
			img(src=previewPicture, alt="")
		.detail-preview__inside.container
			.detail-preview__container
				.detail-preview__title
					+main-title(sectionTitle, 'h1')
				.detail-preview__subtitle= subtitle
	.detail-content.container-short
		+visual-editor({text: detailText})


