//- require mixins block
include ~@components/mainPage/main
include ~@components/main-title
include ~@components/mainPage/process-list

-
	var data = htmlWebpackPlugin.options.data
	var processBlockInfo = data.pages.index.blocks.process;
	var sectionTitle = processBlockInfo.title
	var processes = processBlockInfo.content

+main({dataHash:'process', className:['header-offset', 'main--dark'], scrollClassName:['theme-dark']})
	.main__inside.container
		.process-block
			+main-title(sectionTitle)
			+process-list(processes)