//- require mixins block
include ~@components/mainPage/main
include ~@components/main-title
include ~@components/mainPage/projects-list

-
	var data = htmlWebpackPlugin.options.data

	var projectsBlockInfo = data.pages.index.blocks.projects;
	var sectionTitle = projectsBlockInfo.title

	var projects = data.infoblocks.projects
	
+main({dataHash:'projects', className:['header-offset', 'main--light'], scrollClassName:['theme-light']})
	.main__inside
		.projects-block
			.container
				+main-title(sectionTitle)
			.container-wide
				+projects-list({projects})