//- require mixins block
include ~@components/mainPage/main
include ~@components/main-title
include ~@components/mainPage/services-list

-
	var data = htmlWebpackPlugin.options.data
	var services = data.infoblocks.services

+main({dataHash:'services', className:['header-offset', 'main--dark'], scrollClassName:['theme-dark']})
	.main__inside.container
		.services-block 
			+main-title(sectionTitle)
			+services-list({services})