//- require mixins block
include ~@components/mainPage/main
include ~@components/main-title-bg
include ~@components/main-title
include ~@components/mainPage/team-list

-
	var data = htmlWebpackPlugin.options.data
	var services = data.infoblocks.services
	var teamBlockInfo = data.pages.index.blocks.team
	var sectionTitle = teamBlockInfo.title_img
	var sectionTitleMobile = teamBlockInfo.title
	var content = teamBlockInfo.content
	var team = data.infoblocks.team


+main({dataHash:'team', scrollClassName:['theme-light']})
	.main__inside
		.team-block
			.team-block__top.header-offset
				.team-block__wrapper.container
					+main-title-bg(sectionTitle)
					+main-title(sectionTitleMobile)
					.team-block__content !{content}
			.team-block__bottom
				.container
					+team-list(team)