//- require mixins block
include ../../components/header
include ../../blocks/project-detail

block variables
	-	
		var indexPage = require('@data/pages/services')
		var title = indexPage.title
		var description = indexPage.description

	-
		var projectInfo = require('@data/infoblocks/services/web')

block content
	- var nav = indexPage.top_menu

	body.body
		+header(nav, 'Связаться с нами')
		+project-detail(projectInfo)
		.contacts-form-wrapper.container
			include ../../components/form

