extends ~@components/page

//- require mixins block
include ~@components/header

block variables
	-	
		var data = htmlWebpackPlugin.options.data
		var indexPage = data.pages.index
		var title = indexPage.title
		var description = indexPage.description
		var keywords = indexPage.keywords
	
block content
	- 
		var nav = indexPage.top_menu
		var videos = indexPage.blocks.preview.videos

		var langFile = htmlWebpackPlugin.options.data.other.index

	body.body
		+header({logo:'#', nav, button: langFile['Связаться с нами']})
		.screens
			.screens-wrapper
				include ~@blocks/mainPage/preview
				include ~@blocks/mainPage/about
				include ~@blocks/mainPage/services
				include ~@blocks/mainPage/projects
				include ~@blocks/mainPage/process
				include ~@blocks/mainPage/team
				include ~@blocks/mainPage/contacts