extends ~@components/page

//- require mixins block
include ~@components/header

block variables
	-	
		var data = htmlWebpackPlugin.options.data
		var indexPage = data.pages.index
		var title = indexPage.title
		var description = indexPage.description

block content
	- 
		var nav = indexPage.top_menu

		var langFile = htmlWebpackPlugin.options.data.other.index

	body.body
		+header({nav, button: langFile['Связаться с нами'], theme: ['header-wrapper--detail'], buttonClass:['button-light']})