extends ~@components/page

//- require mixins block
include ~@components/header
include ~@blocks/detailPage/project-detail
include ~@blocks/detailPage/project-content
include ~@components/detailPage/next-elements

block variables
	-
		var data = htmlWebpackPlugin.options.data
		var index = htmlWebpackPlugin.options.dataId
		var infoblock = data.infoblocks.projects[index]

		var title = infoblock.name
		var description = infoblock.preview_text
		var keywords = infoblock.keywords
		var detailContent = infoblock.detail_content

block content
	-	
		var tags = []
		for (let i=0; i<data.infoblocks.tags.length; i++) {
			var tag = data.infoblocks.tags[i]
			if (infoblock.tag_codes.includes(tag.code)) {
				tags.push({
					name: tag.name,
					link: '/services/'+tag.code+'.html'
				})
			}
		}
		var nav = data.pages.projects.top_menu
		var langFile = data.other.index

		var nextElements = (function(project) {
			var prevElement = project[index - 1]
			var nextElement = project[index + 1]
			return {
				prev: prevElement ? {
					name: prevElement.name,
					link: `/projects/${prevElement.code}.html`,
				} : undefined,
				next: nextElement ? {
					name: nextElement.name,
					link: `/projects/${nextElement.code}.html`,
				} : undefined,
		}
		})(data.infoblocks.projects)

	body.body
		+header({nav, button: langFile["feedback"], theme: ['header-wrapper--detail'], buttonClass:['button-light']})
		+project-detail({...infoblock, tags})
		+project-content({detailContent, fileName: infoblock.fileName})
		if nextElements.prev || nextElements.next
			+next-elements({...nextElements, prevText: langFile["prev_project"], nextText: langFile["next_project"]})
		include ~@blocks/detailPage/project-form
