extends ~@components/page

//- require mixins block
include ~@components/header
include ~@blocks/detailPage/service-detail
include ~@blocks/detailPage/project-content
include ~@components/detailPage/next-project

block variables
	-	
		var data = htmlWebpackPlugin.options.data
		var index = htmlWebpackPlugin.options.dataId
		var infoblock = data.infoblocks.services[index]

		var title = infoblock.name
		var description = infoblock.preview_text
		var keywords = infoblock.keywords
		var detailContent = infoblock.detail_content

block content
	- 
		var nav = data.pages.services.top_menu
		var langFile = htmlWebpackPlugin.options.data.other.index

		var nextServices = (function(element) {
		var prevService = element[index - 1]
		var nextService = element[index + 1]
		return {
			prev: prevService ? {
				name: prevService.name,
				link: `/services/${prevService.code}.html`,
			} : undefined,
			next: nextService ? {
				name: nextService.name,
				link: `/services/${nextService.code}.html`,
			} : undefined,
		}
		})(data.infoblocks.services)

	body.body
		+header({nav, button: langFile['feedback'], theme: ['header-wrapper--detail'], buttonClass:['button-light']})
		+service-detail({...infoblock})
		include ~@blocks/detailPage/project-form

