extends ~@components/page

//- require mixins block
include ~@components/header
include ~@blocks/detailPage/project-detail
include ~@blocks/detailPage/project-content

block variables
	-	
		var data = htmlWebpackPlugin.options.data
		var index = htmlWebpackPlugin.options.dataId
		var infoblock = data.infoblocks.services[index]

		var title = infoblock.title
		var description = infoblock.description
		var keywords = infoblock.keywords

block content
	- 
		var nav = data.pages.services.top_menu
		var langFile = htmlWebpackPlugin.options.data.other.index

	body.body
		+header({nav, button: langFile["feedback"], theme: ['header-wrapper--detail'], buttonClass:['button-light']})
		include ~@blocks/detailPage/project-form

