mixin service-icon(serviceId)
	case serviceId
		when 'web'
			include ~@assets/icons/services/web.svg
		when 'ux'
			include ~@assets/icons/services/ux.svg
		when 'ad'
			include ~@assets/icons/services/ad.svg
		when 'design'
			include ~@assets/icons/services/design.svg
		when 'smm'
			include ~@assets/icons/services/smm.svg
		when 'auto'
			include ~@assets/icons/services/auto.svg
		default
			include ~@assets/icons/services/web.svg