//- require mixins block
include ~@components/mainPage/scroll-below

mixin main({className=[], dataHash='', scrollClassName})
	section(class=['main', ...className] data-hash=dataHash)
		block
		if scrollClassName
			+scroll-below(scrollClassName)
