mixin process-icon(active)
	.process-icon
		case active
			when 1
				.process-icon__path.active
				.process-icon__path.active
				.process-icon__path
				.process-icon__path
			when 2
				.process-icon__path.active
				.process-icon__path.active
				.process-icon__path
				.process-icon__path.active
			when 3
				.process-icon__path.active
				.process-icon__path.active
				.process-icon__path.active
				.process-icon__path.active
			when 0
			default
				.process-icon__path.active
				.process-icon__path
				.process-icon__path
				.process-icon__path
			