include ~@components/mainPage/process-icon

mixin process-list(processes)
	.process-list-wrapper
		.process-list#process-list
			- var i = 0
			each process in processes
				- var title = process.name
				- var desc = process.description
				- var area = process.grid_area
				div(class=['process-item', 'grid-area-'+area])
					.process-item__icon
						+process-icon(i)
					.process-item__content
						.process-item__title= title
						.process-item__desc= desc
				- i++
				
					