//- require mixins block
include ~@mixins/service-icon

mixin services-list(services)
	.services-list
		each service in services
			- var title = service.name
			- var desc = service.preview_text
			- var icon = service.icon_name
			- var href = 'services/'+service.code+'.html'
			.services-item
				a.services-item__link(href=href target="_blank")
					.services-item__icon
						+service-icon(icon)
					.services-item__title= title
					.services-item__desc= desc
			