.slider-controls-wrapper
	//- .slider-controls 
	//- 	include ./arrow-left
	//- 	.slider-controls__info 
	//- 		span.slider-controls__current 6
	//- 		span.slider-controls__count 14
	//- 	include ./arrow-right