extends ../components/head

//- require mixins block
include ../components/header

block variables
	- var title = 'Home'
	-	var description = 'description'

block styles 
	each css in htmlWebpackPlugin.files.css
			link(href=css, rel='stylesheet')

block content
	- var nav = [['#about', 'О компании'], ['#services', 'Услуги'], ['#projects', 'Проекты'], ['#process', 'Процесс'], ['#team', 'Команда'], ['#contacts', 'Контакты']]

	body.body.body--fp
		+header(nav, 'Связаться с нами')
		.screens.swiper
			.screens-wrapper.swiper-wrapper
				include ../blocks/preview
				include ../blocks/about
				include ../blocks/services
				include ../blocks/projects
				include ../blocks/process
				include ../blocks/team
				include ../blocks/contacts

		//- add scripts
		each js in htmlWebpackPlugin.files.js
			script(type='text/javascript', src=js)