extends ../components/head

//- require mixins block
include ../components/header

block variables
	-	
		var indexPage = require('@data/pages/index')
		var title = indexPage.title
		var description = indexPage.description

block content
	- var nav = indexPage.top_menu

	body.body
		+header(nav, 'Связаться с нами')
		.screens
			.screens-wrapper
				include ../blocks/preview
				include ../blocks/about
				include ../blocks/services
				include ../blocks/projects
				include ../blocks/process
				include ../blocks/team
				include ../blocks/contacts