mixin main({className='', dataHash='', scrollClassName, background})
	div(class='main '+className data-hash=dataHash)
		if background
			.main__background 
				include ../components/background
		block
		if scrollClassName
				+scroll-below(scrollClassName)
