mixin team-list(team)
	.team-list-wrapper
		.team-list.swiper-wrapper
			each person in team 
				- var title = person.name
				- var desc = person.description
				- var img = person.img

				.team-slide
					.team-item
						.team-item__inner
							.team-item__img-wrapper.team-item__hover
								img.team-item__img(src=img)
							.team-item__content.team-item__hover
								.team-item__title= title
								.team-item__desc= desc
		include ../components/slider-controls