extends ../../components/head

//- require mixins block
include ../../components/header
include ../../blocks/project-detail

block variables
	-
		var webpackData = htmlWebpackPlugin.options.data
		var projectInfo = require(`@data/infoblocks/projects/${webpackData}`)
		var title = projectInfo.name
		var description = projectInfo.preview_text

block content
	-	
		var indexPage = require('@data/pages/projects')
		var nav = indexPage.top_menu
		var langFile = require('@data/other/index')

	body.body
		+header({nav, button: langFile['Связаться с нами'], theme: ['header-wrapper--detail'], buttonClass:['button-light']})
		+project-detail(projectInfo)
		//- +project-content(content)
		include ../../blocks/project-form
