extends ../../components/head

block variables
	-	
		var indexPage = require('@data/pages/index')
		var title = indexPage.title
		var description = indexPage.description

block content
	- var nav = indexPage.top_menu

	body.body
		include ../../components/background
		include ../../components/header
		+header(nav, 'Связаться с нами')
		include ../../blocks/preview
		include ../../blocks/contacts
