//- require mixins block
include ../components/main-title-bg
include ../components/main-title

-
	var fs = require('fs')
	var path = require('path')
	var {cwd} = require('process')


	var contactsBlockInfo = require('@data/pages/index').blocks.contacts
	var sectionTitle = contactsBlockInfo.title_img
	var sectionTitleMobile = contactsBlockInfo.title

	var contactsInfo = require('@data/contacts')
	var adress = [contactsInfo.adress_link, contactsInfo.adress]

+main({dataHash:'contacts'})
	.contacts-block
		.contacts-block__top.header-offset
			.contacts-block__wrapper.container 
				+main-title-bg(sectionTitle)
				+main-title(sectionTitleMobile)
				.contacts-block__content
					include ../components/contacts-list
					.contacts-adress
						a.contacts-adress__link(href=adress[0])= adress[1]
		.contacts-block__bottom
			.contacts-form-wrapper.container
				include ../components/form