//- require mixins block
include ../components/main-title-bg

- var pageTitle = 'assets/images/contacts/contacts.svg'

- var adress = ['https://yandex.ru/maps/213/moscow/house/leninskiy_prospekt_2/Z04YcAZhSkwFQFtvfXtzeHlhbQ==/?ll=37.617515%2C55.727938&source=wizgeo&utm_medium=maps-desktop&utm_source=serp&z=15.84', 'г. Москва, Ленинский проспект д. 2 оф. 45']

+main({dataHash:'contacts'})
	.contacts-block
		.contacts-block__top.header-offset
			.contacts-block__wrapper.container 
				+main-title-bg(pageTitle)
				.contacts-block__content
					include ../components/contacts-list
					.contacts-adress
						a.contacts-adress__link(href=adress[0])= adress[1]
		.contacts-block__bottom
			.contacts-form-wrapper.container
				include ../components/form