.main.main--dark
	.container 
		.main__inside 
			.preview-block
				include ../components/main-title
				+main-title('Очень крутой слоган о том что делает', 'h1')
				include ../components/tags
				- var tags = [['SMM'], ['ПРОДВИЖЕНИЕ САЙТОВ'], ['СОЗДАНИЕ САЙТОВ'], ['SMM'], ['ПРОДВИЖЕНИЕ САЙТОВ'],['ПРОДВИЖЕНИЕ САЙТОВ'], ['СОЗДАНИЕ САЙТОВ']];
				+tags(tags)
	include ../components/scroll-below