//- require mixins block
include ../components/main
include ../components/main-title
include ../components/tags

-
	var previewBlockInfo = require('@data/pages/index').blocks.preview
	var sectionTitle = previewBlockInfo.title
	var tags = previewBlockInfo.tags

+main({dataHash:'preview', className:['header-offset', 'main--dark', 'main--preview'], scrollClassName:'theme-dark', background: true})
	.main__inside.container 
		.preview-block
			+main-title(sectionTitle, 'h1')
			+tags(tags)