//- require mixins block
include ../components/main
include ../components/main-title
include ../components/tags

- var pageTitle = 'Очень крутой слоган о том что делает'

- var tags = [['SMM'], ['ПРОДВИЖЕНИЕ САЙТОВ'], ['СОЗДАНИЕ САЙТОВ'], ['АНАЛИТИКА'], ['ДИЗАЙН'],['КОНТЕКСТНАЯ РЕКЛАМА'], ['БИТРИКС 24'], ['ЯНДЕКС МАРКЕТ']]

+main({dataHash:'preview', className:'header-offset  main--dark', scrollClassName:'theme-dark', background: true})
	.main__inside.container 
		.preview-block
			+main-title(pageTitle, 'h1')
			+tags(tags)