.main.main--dark
	.container 
		.main__inside 
			.process-block
				include ../components/main-title
				+main-title('КАК МЫ РАБОТАЕМ')
				include ../components/process-list
	include ../components/scroll-below