- var pageTitle = 'КАК МЫ РАБОТАЕМ'

.main.header-offset.main--dark#process
	.main__inside.container
		.process-block
			include ../components/main-title
			+main-title(pageTitle)
			include ../components/process-list
	include ../components/scroll-below