//- require mixins block
include ../components/main-title

- var pageTitle = 'КАК МЫ РАБОТАЕМ'

+main({dataHash:'process', className:'header-offset  main--dark', scrollClassName:'theme-dark'})
	.main__inside.container
		.process-block
			+main-title(pageTitle)
			include ../components/process-list