- var pageTitle = 'КАК МЫ РАБОТАЕМ'

.main.main--dark#process
	.container 
		.main__inside 
			.process-block
				include ../components/main-title
				+main-title(pageTitle)
				include ../components/process-list
	include ../components/scroll-below