- var pageTitle = 'Наши работы'

- var projects = [['buro', 'Бюро Дмитрия Якушева', 'Сайт калькулятор для строительного бюро', 'assets/images/projects/buro.png', '#056f90'], ['buro', 'Бюро Дмитрия Якушева', 'Сайт калькулятор для строительного бюро', 'assets/images/projects/buro.png', '#fc4400'], ['buro', 'Бюро Дмитрия Якушева', 'Сайт калькулятор для строительного бюро', 'assets/images/projects/buro.png', '#10823c'], ['buro', 'Бюро Дмитрия Якушева', 'Сайт калькулятор для строительного бюро', 'assets/images/projects/buro.png', '#10823c'], ['buro', 'Бюро Дмитрия Якушева', 'Сайт калькулятор для строительного бюро', 'assets/images/projects/buro.png', '#10823c']]

.main.header-offset.main--light#projects
	.main__inside 
		.projects-block
			.container
				include ../components/main-title
				+main-title(pageTitle)
			.container-wide
				include ../components/projects-list
				+projects-list(projects)
	include ../components/scroll-below