//- require mixins block
include ../components/main-title
include ../components/projects-list
include ../components/scroll-below

- var pageTitle = 'Наши работы'

- var projects = [['buro', 'Бюро Дмитрия Якушева', 'Сайт калькулятор для строительного бюро', 'assets/images/projects/buro.png', '#056f90'], ['buro', 'Бюро Дмитрия Якушева', 'Сайт калькулятор для строительного бюро', 'assets/images/projects/buro.png', '#fc4400'], ['buro', 'Бюро Дмитрия Якушева', 'Сайт калькулятор для строительного бюро', 'assets/images/projects/buro.png', '#10823c'], ['buro', 'Бюро Дмитрия Якушева', 'Сайт калькулятор для строительного бюро', 'assets/images/projects/buro.png', '#10823c'], ['buro', 'Бюро Дмитрия Якушева', 'Сайт калькулятор для строительного бюро', 'assets/images/projects/buro.png', '#10823c']]

+main({dataHash:'projects', className:'header-offset main--light', scrollClassName:'theme-light'})
	.main__inside 
		.projects-block
			.container
				+main-title(pageTitle)
			.container-wide
				+projects-list(projects)