- var pageTitle = 'Наши услуги'

.main.header-offset.main--dark#services
	.main__inside.container
		.services-block 
			include ../components/main-title
			+main-title(pageTitle)
			include ../components/services-list
	include ../components/scroll-below