.main.main--dark
	.container 
		.main__inside 
			.services-block 
				include ../components/main-title
				+main-title('Наши услуги')
				include ../components/services-list
	include ../components/scroll-below