//- require mixins block
include ../components/main-title
include ../components/scroll-below

- var pageTitle = 'Наши услуги'

+main({dataHash:'services', className:'header-offset  main--dark', scrollClassName:'theme-dark'})
	.main__inside.container
		.services-block 
			+main-title(pageTitle)
			include ../components/services-list