@import '~normalize.css'
@import vars

*
  box-sizing: border-box
body
  display: flex
  flex-direction: column
  width: 100%
  justify-content: space-between
  font-family: 'CeraPro', sans-serif
  font-size: 14px
  &.desktop-fp
    height: 100vh
  &.menu-opened
    overflow: hidden
.container
  width: 100%
  max-width: #{$containerWidth}px
  padding-inline: 40px
  margin: 0 auto
  @media screen and ( max-width: $media-width-xs ) and (min-width: $media-width-xsss)
    padding-inline: 80px
  @media screen and ( max-width: $media-width-xss )
    padding-inline: 36px
    
.container-wide
  width: 100%
  max-width: #{$containerWideWidth}px
  margin: 0 auto

.container-short
  width: 100%
  max-width: #{$containerShortWidth}px
  padding-inline: 40px
  margin: 0 auto
  @media screen and ( max-width: $media-width-xs ) and (min-width: $media-width-xsss)
    padding-inline: 80px

.header-offset
  padding-top: $headerHeight
  #{$isMobile}
    padding-top: $headerHeightMobile

input
  padding: 0
  border: none
  background: transparent
  &:focus
    outline: none
    border: none

a,input,button
  #{$isMobile}
    -webkit-tap-highlight-color: transparent

@import @styles/components/header.sass
@import @styles/components/tags.sass