@import 'fonts'
@import 'vars'

*
  box-sizing: border-box
body
  font-family: 'CeraPro', sans-serif
  font-size: 14px
.container
  width: 100%
  max-width: #{$containerWidth}px
  padding: 0 20px
  margin: 0 auto

.container-wide
  width: 100%
  max-width: #{$containerWideWidth}px
  margin: 0 auto
