$folder: '/assets/fonts/'

@font-face
	$fontName: 'CeraPro-Thin'
	font-family: 'CeraPro'
	src: url('#{$folder}#{$fontName}.ttf') format('truetype')
	font-weight: 200
	font-style: normal

@font-face
	$fontName: 'CeraPro-ThinItalic'
	font-family: 'CeraPro'
	src: url('#{$folder}#{$fontName}.ttf') format('truetype')
	font-weight: 200
	font-style: italic

@font-face
	$fontName: 'CeraPro-Light'
	font-family: 'CeraPro'
	src: url('#{$folder}#{$fontName}.ttf') format('truetype')
	font-weight: 300
	font-style: normal

@font-face
	$fontName: 'CeraPro-LightItalic'
	font-family: 'CeraPro'
	src: url('#{$folder}#{$fontName}.ttf') format('truetype')
	font-weight: 300
	font-style: italic

@font-face
	$fontName: 'CeraPro-Regular'
	font-family: 'CeraPro'
	src: url('#{$folder}#{$fontName}.ttf') format('truetype')
	font-weight: 400
	font-style: normal

@font-face
	$fontName: 'CeraPro-Italic'
	font-family: 'CeraPro'
	src: url('#{$folder}#{$fontName}.ttf') format('truetype')
	font-weight: 400
	font-style: italic

@font-face
	$fontName: 'CeraPro-Medium'
	font-family: 'CeraPro'
	src: url('#{$folder}#{$fontName}.ttf') format('truetype')
	font-weight: 500
	font-style: normal

@font-face
	$fontName: 'CeraPro-MediumItalic'
	font-family: 'CeraPro'
	src: url('#{$folder}#{$fontName}.ttf') format('truetype')
	font-weight: 500
	font-style: italic

@font-face
	$fontName: 'CeraPro-Bold'
	font-family: 'CeraPro'
	src: url('#{$folder}#{$fontName}.ttf') format('truetype')
	font-weight: 700
	font-style: normal

@font-face
	$fontName: 'CeraPro-BoldItalic'
	font-family: 'CeraPro'
	src: url('#{$folder}#{$fontName}.ttf') format('truetype')
	font-weight: 700
	font-style: italic

@font-face
	$fontName: 'CeraPro-Black'
	font-family: 'CeraPro'
	src: url('#{$folder}#{$fontName}.ttf') format('truetype')
	font-weight: 900
	font-style: normal

@font-face
	$fontName: 'CeraPro-BlackItalic'
	font-family: 'CeraPro'
	src: url('#{$folder}#{$fontName}.ttf') format('truetype')
	font-weight: 700
	font-style: italic
