$folder: '/assets/fonts'

@font-face
	$fontName: 'cera-pro-regular'
	font-family: 'CeraPro'
	src: local('Cera Pro Regular'), local('Cera-Pro-Regular'), url('#{$folder}/#{$fontName}/#{$fontName}.woff2') format('woff2'), url('#{$folder}/#{$fontName}/#{$fontName}.woff') format('woff'), url('#{$folder}/#{$fontName}/#{$fontName}.ttf') format('truetype')
	font-weight: 400
	font-style: normal

@font-face
	$fontName: 'cera-pro-bold'
	font-family: 'CeraPro'
	src: local('Cera Pro Bold'), local('Cera-Pro-Bold'), url('#{$folder}/#{$fontName}/#{$fontName}.woff2') format('woff2'), url('#{$folder}/#{$fontName}/#{$fontName}.woff') format('woff'), url('#{$folder}/#{$fontName}/#{$fontName}.ttf') format('truetype')
	font-weight: 700
	font-style: normal

@font-face
	$fontName: 'cera-pro-black'
	font-family: 'CeraPro'
	src: local('Cera Pro Black'), local('Cera-Pro-Black'), url('#{$folder}/#{$fontName}/#{$fontName}.woff2') format('woff2'), url('#{$folder}/#{$fontName}/#{$fontName}.woff') format('woff'), url('#{$folder}/#{$fontName}/#{$fontName}.ttf') format('truetype')
	font-weight: 900
	font-style: normal
