$mainColor: #ff8900
$mainColorLight: #ffd445
$mainLight: #fff
$mainDark: #222222
$textDark: #061826
$textLight: #fff

$mainGrey: #b7b7b7

$containerWidth: 1300
$containerWideWidth: 1920

$headerHeight: 112px
