extends ../../components/head

//- require mixins block
include ../../components/header

block variables
	- var title = 'Home'
	-	var description = 'description'

block content
	- var nav = [['#about', 'О компании'], ['#services', 'Услуги'], ['#projects', 'Проекты'], ['#process', 'Процесс'], ['#team', 'Команда'], ['#contacts', 'Контакты']]

	body.body
		+header(nav, 'Связаться с нами')