@use "sass:math"

.about-block
	display: grid
	grid-template-columns: 50% 50%
	width: 100%
	flex-grow: 1
	padding-top: math.div(63, $containerWidth) * 100%
	#{$isMobile}
		padding-top: math.div(43, $containerWidth) * 100%
		min-height: 600px
	@media screen and ( max-width: $media-width-xs )
		padding-top: math.div(43, $containerWidth) * 100%
		min-height: initial
		grid-template-columns: minmax(30%, 50%) minmax(330px, 70%)
	&__info
		padding-bottom: 76px
	&__founder
		display: flex
		padding-left: 50px
	.main-title
		margin-bottom: 70px

.about-founder
	display: flex
	width: 100%
	&__img-wrapper
		position: relative
		width: 50%
		@media screen and (max-height: $media-height-m)
			width: 42%
		@media screen and (max-width: $media-width-xs)
			width: 60%
			
	&__img
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		$imgWidth: 284
		padding-top: math.div(600, $imgWidth) * 100%
		img
			position: absolute
			top: 0
			left: 0
			display: block
			width: 100%
			height: 100%
	&__desc
		align-self: flex-end
		margin-bottom: 131px
		margin-left: auto
	&__name
		margin-bottom: 6px
		color: $mainColor
		font-size: 22px
		font-weight: 900
		@media screen and (max-width: $media-width-xs)
			font-size: 18px

.about-content
	max-width: 490px
	&__title
		margin-bottom: 26px
		font-size: 32px
		font-weight: 900
		color: $mainColor
		text-transform: uppercase
		@media screen and (max-width: $media-width-xs)
			font-size: 22px
			margin-bottom: 16px
	&__content
		line-height: 1.71
		font-size: 14px
