@import ../components/projects-list

.projects-block
	flex-grow: 1
	padding-top: 45 / $containerWidth * 100%
	@media screen and (min-width: #{$containerWidth + 1}px)
		padding-top: 63px
	@media screen and (max-height: $media-height-m)
		padding-top: 40px
	.main-title
		margin-bottom: 74 / $containerWidth * 100%
		@media screen and (max-height: $media-height-m)
			margin-bottom: 50 / $containerWidth * 100%
	.slider-controls
		padding-top: 31px
