@import ../components/projects-list

.projects-block
	padding-top: 73px
	@media screen and (max-width: #{$containerWidth}px)
		padding-top: 70 / $containerWidth * 100%
	.main-title
		margin-bottom: 84px
	.slider-controls
		padding-top: 31px
