@import ../components/team-list
$offsetY: 240

.team-block
	position: relative
	display: flex
	flex-direction: column
	justify-content: space-between
	width: 100%
	.desktop-app &
		height: 100%
	.team-list-wrapper
		margin-top: -$offsetY / $containerWidth * 100%
		padding-bottom: $offsetY / 2.8 / $containerWidth * 100%
		@media screen and ( max-height: $media-height-m)
			padding-bottom: $offsetY / 3.8 / $containerWidth * 100%
	.main-title-bg__img
		margin-top: 28px
	&__top
		position: relative
		display: flex
		flex-grow: 1
		&::before
			z-index: -1
			background-color: $mainDark
	&__top::before,
	&__bottom::before
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
	&__wrapper
		position: relative
		display: flex
		flex-direction: column
		padding-top: 48 / $containerWidth * 100%
		padding-bottom: 48 / $containerWidth * 100%
		@media screen and ( max-height: $media-height-m)
			padding-top: 20 / $containerWidth * 100%
	&__content
		position: relative
		color: $mainLight
		line-height: 1.57
		max-width: 630px
		margin: 0 auto 89px
		text-align: center
	&__bottom
		position: relative
		&::before
			background-color: $mainLight
