mixin background(videos)
  .background
    .background__grid 
      img(src="/upload/images/background-grid.svg", alt="")
    if videos
      video.background__video(loop='loop' autoplay='autoplay' muted='muted' playsinline='playsinline')
        each source in videos
          source(src=source.src, type=source.type)
