- var langFile = htmlWebpackPlugin.options.data.other.index

.form-container(data-success-desc= langFile["Успешная отправка описание"], data-success= langFile["Успешная отправка"])
	form.form-wrapper(action='/mail.php')
		.form
			label(class=['form-input', 'empty'])
				input.form-input__input(placeholder="Имя", name="name", autocomplete="off", class=[])
			label(class=['form-input', 'empty'])
				input.form-input__input(placeholder="Телефон", name="phone", autocomplete="off")
		.form__button
			include ../components/call-button
			+call-button({tag:'button', text: langFile["Оставить заявку"], buttonClass: ['call-button--filled']})
			.form-error= langFile["Заполните все поля"]
	//- .form-success 
	//- 	.form-success__description= langFile["Успешная отправка описание"]
	//- 	.form-success__title= langFile["Успешная отправка"]