mixin menu(nav, button)
	.menu-wrapper 
		.menu.container
			.menu__nav
				each item in nav
					- var name = item.name
					- var link = item.link
					a.menu__item(href=link)= name
			+call-button({tag:'a', href:'#contacts', text: button})
